@model IEnumerable<BusinessEntities.RFQVM>
<a class="btn btn-info" style="color:white;float:right" onclick="OpenPopUp('@Url.Action("AddOrEditRFQ", "RFQ")')"><i class="fa fa-plus mr-2"></i>Add New</a>
<br />
<hr />
<div class="table table-responsive">

    <table id="dataTable" class="table table-condensed table-striped table-bordered" style="width: 100%">
        <thead class="card-header alert-info">
            <tr>
                <th>Sr. No.</th>
                <th class="hidden">
                    @Html.DisplayNameFor(model => model.RfqId)
                </th>
                <th style="width: 50px">
                    @Html.DisplayNameFor(model => model.RfqNo)
                </th>
                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.RfqDate)
                </th>

                <th style="width: 200px">
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>

                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.ScheduleDate)
                </th>

                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.createdByName)
                </th>

                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int count = 1;
                foreach (var item in Model)
                {
                <tr>
                    <td>@count</td>
                    <td class="hidden">
                        @Html.DisplayFor(modelItem => item.RfqId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RfqNo)
                    </td>
                    <td>
                        @item.RfqDate.Value.Date.ToShortDateString()
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduleDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @item.CreatedDate.Value.Date.ToShortDateString()
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.createdByName)
                    </td>

                    <td>
                        <cite title="Details"><a onclick="ShowRFQDetais('@Url.Action("ShowRFQDetails", "RFQ", new { id = @item.RfqId })')" style="color:white"  class=" btn btn-primary" ><i class="fa fa-list"></i></a></cite>
                        
                        @if(item.IsEmailSent){
                            <cite title="Email"><a  style="color: #ccc; pointer-events: none;"  class=" btn btn-success" ><i class="fa fa-envelope"></i></a></cite>
                        }else
                        {
                        <cite title="Email"><a onclick="SendMail('@Url.Action("SendRFQ", "RFQ", new { id = @item.RfqId })')" style="color:white"  class=" btn btn-success" ><i class="fa fa-envelope"></i></a></cite>
                        }
                        @*<a onclick="OpenPopUp('@Url.Action("AddOrEditRFQ", "RFQ", new { id = @item.RfqId })')" style="color:white"  class=" btn btn-success"><i class="glyphicon glyphicon-edit"></i></a>*@
                        <cite title="Delete"><a onclick="Delete(@item.RfqId)" class="btn btn-warning" style="color:white"><i class="fa fa-trash"></i></a></cite>

                    </td>
                </tr>
                    count++;
                }
            }
        </tbody>

    </table>
</div>
